* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #0d1117;
}

/* navbar */

.navbar {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.navbar a img {
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding-top: 15px;
}

.navbar ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3vw;
  padding: 8px 30px;
  border-radius: 10px;
  color: #eee;
  font-family: "Courier New", Courier, monospace;
}
.navbar ul li a:hover {
  background-color: #232931;
  transition: all 0.9s;
}

/* banner */

.banner {
  padding: 3% 3vw 3%;
  display: flex;
  justify-content: space-between;
}


.banner .middle{
  display: flex;
  align-items: center;
}

.banner .kiri img{
  width: 70%;
}

.banner .kanan img {
  float: right;
  width: 70%;
}

.banner .middle img{ 
  width: 60vw;
}

/* banner */

.about {
  padding-top: 20vh;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
}

.about p {
  font-size: 1.3vw;
  text-align: center;
  padding-bottom: 10%;
  color: #fff;
  width: 75vw;
}

.about h1 {
  padding-bottom: 10px;
}


.cult {
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  justify-content: center;
  display: flex;
}

.cult h1 {
  padding-right: 6%;
  border: 4px solid #e02d4b;
  border-radius: 5px;
  background-color: #e02d4b;
  width: 80vw;
  text-align: end;
}

.raw {
  padding-top: 5%;
  display: flexbox;
  font-family: Georgia, "Times New Roman", Times, serif;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-area: "colom1 colom3" "colom2 colom4" "colom5 colom5";
}

.colom1 {
  grid-area: colom1;
  color: #fff;
  display: flex;
  justify-content: start;
  padding-left: 20%;
  padding-bottom: 30px;
}

.colom2 {
  grid-area: colom2;
  color: #fff;
  display: flex;
  justify-content: end;
  padding-right: 20%;
  padding-bottom: 30px;
}

.colom3 {
  grid-area: colom3;
  color: #fff;
  display: flex;
  justify-content: start;
  padding-left: 20%;
  padding-bottom: 30px;
}

.colom4 {
  grid-area: colom4;
  color: #fff;
  display: flex;
  justify-content: end;
  padding-right: 20%;
  padding-bottom: 5%;
}

.colom5 {
  display: flex;
  justify-content: center;
  grid-area: colom5;
  color: #fff;
  padding-bottom: 30px;
}
.com1 p {
  color: #fff;
  margin: auto;
  text-align: center;
}
.course {
  font-family: "Times New Roman", Times, serif;
  padding-top: 10%;
  color: #fff;
  justify-content: center;
  display: flex;
  padding-bottom: 10%;
}

.course h1 {
  border: 4px solid #206b71;
  border-radius: 5px;
  background-color: #206b71;
  width: 80vw;
  padding-left: 5%;
}


footer {
  width: 100%;
  padding-top: 50%;
}

footer p {
  text-align: center;
  color: #fff;
  background-color: #2c2f30;
  height: 5vh;
}

footer .wave {
  animation-name: wave-animation;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}